//
// Forms
// --------------------------------------------------

label {
    font-weight: 600;
}
.form-material > .remove-box-shadow{
    box-shadow: none !important;
}
.invalid-feedback {
    font-size: $font-size-sm;
}
